<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">&copy; Rohrbaugh & Munson, LLP.  ETK created for St. John, Bowling, Lawrence & Quagliana, LLP</p>
  </div>
</footer>
